<div class="row home-component">
  <div class="col-md-4 offset-md-4">
    <h3 class="p-5-0">What Pokemon are you looking for?</h3>
    <pre>{{homeVm.pokemonIndex}}</pre>
    <div class="form-group has-search p-5-0">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="email" class="form-control" id="searchPokemon" placeholder="Search Pokemon, Move, Ability, etc">
    </div>
  </div>

  <div class="container">
    <div class="col-sm-12">

      <!-- SPINER -->
      <div class="d-flex justify-content-center" ng-if="homeVm.loading">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <!-- DATA -->
      <div class="container">
        <div class="row" class="pokemon-list" ng-hide="homeVm.loading">
          <div class="col-sm-4" ng-repeat="pokemon in homeVm.pokemons | orderBy: 'id'">
            <div class="widget-panel widget-style-1" ng-class="'bg-' + pokemon.types[0].type.name">
              <span class="pokemon-number text-white pull-right" ng-bind="'#' + pokemon.idForImage"></span>
              <a class="pokemon-image">
                <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/{{pokemon.idForImage}}.png"
                  width="70%">
              </a>
              <h3 class="m-0 counter text-white p-b-0">
                {{pokemon.name | ucfirst}}
              </h3>
              <div class="pokemon-type" ng-repeat="type in pokemon.types">
                <div class="badge badge-pill p-pill" ng-class="pokemon.types[0].type.name">
                  {{type.type.name}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- LOAD MORE -->
      <button type="button" class="btn btn-primary btn-lg btn-block"
        ng-click="homeVm.getPokemons(homeVm.pokemonIndex)">
        Load more
      </button>
    </div>
  </div>
</div>