.app-content-wrapper {
    margin-top: 60px;
}

.p-5-0 {
    padding: 5px 0px;
}

.has-search .form-control {
    padding-left: 2.375rem;
    border-radius: 20px;
    background: #f3f3f3;
    font-size: 14px;
    border: 1px solid #f3f3f3;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #000;
    margin-left: 4px;
    font-size: 14px;
}

.pokemon-list {
    border: 1px solid black;
}

.widget-panel {
    padding: 30px;
    border-radius: 20px;
    color: #ffffff;
    margin-bottom: 6%;
    min-height: 185px;
}

.widget-style-1 h2 {
    font-size: 32px;
}

.text-white {
    color: #ffffff !important;
}

.m-0 {
    margin: 0px !important;
}

.p-b-0 {
    padding-bottom: 10px;
}

.bg-pink {
    background-color: #f24f7c !important;
}

.btn-block {
    margin: 30px 0;
}

.pokemon-image {
    position: absolute;
    right: -50px;
    bottom: 10px;
}

.pokemon-type {
    text-transform: capitalize;
    font-size: 16px;
    padding-top: 6px;
}

.pokemon-number {
    font-weight: 700;
    margin-top: -20px;
    font-size: 20px;
    margin-right: -10px;
}

.p-pill {
    padding: 10px 20px;
    font-size: 14px;
}

.bg-grass {
    background-color: #48d0b0;
}
.grass {
    background-color: #61e1ca;
}

.bg-fire {
    background-color: #fb6c6c;
}
.fire {
    background-color: #fd8a8a;
}

.bg-water {
    background-color: #75bbfc;
}
.water {
    background-color: #91d2fe;
}

.bg-electric {
    background-color: #ffd86f;
}
.electric {
    background-color: #fae068;
}

.bg-bug {
    background-color: #96d94a;
}
.bug {
    background-color: #b7ef77   ;
}

.bg-flying {
    background-color: #927ed4;
}
.flying {
    background-color: #baaee3;
}

.bg-normal {
    background-color: #cacaae;
}
.normal {
    background-color: #cacaae;
}