<div class="container" ng-class="'bg-' + pVm.pokemonDetails.types[0].type.name">
    <pre>{{pVm.pokemonDetails}}</pre>

    <div class="row">
        <div class="col-sm-12">
            <a href="#!/pokemons" class="btn">
                <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
            </a>
            <button class="btn pull-right">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
            </button>
        </div>

        <div class="col-sm-12">
            <h4 class="pokemon-name" ng-bind="pVm.pokemonDetails.name"></h4>
            <p class="pokemon-number pull-right"><strong ng-bind="pVm.pokemonDetails.idForImage"></strong></p>
        </div>

        <div class="col-sm-12">
            <div class="pokemon-type" ng-repeat="type in pVm.pokemonDetails.types">
                <div class="badge badge-pill p-pill" ng-class="pVm.pokemonDetails.types[0].type.name">
                    {{type.type.name}}
                </div>
            </div>
            <p class="pokemon-genera pull-right" ng-bind="pVm.pokemonDetails.genera"></p>
        </div>

        <div class="col-sm">
            <div class="pokemon-details">
                <p ng-bind="pVm.pokemonDetails.flavorText"></p>
            </div>
        </div>
    </div>
</div>