@import 'app/assets/less/colors.less';

.bg-grass {
    background-color: @grass;
}
.grass {
    background-color: @grass-lte;
}

.bg-fire {
    background-color: @fire;
}
.fire {
    background-color: @fire-lte;
}

.bg-water {
    background-color: @water;
}
.water {
    background-color: @water-lte;
}

.bg-electric {
    background-color: @electric;
}
.electric {
    background-color: @electric-lte;
}

.bg-bug {
    background-color: @bug;
}
.bug {
    background-color: @bug-lte;
}

.bg-flying {
    background-color: @flying;
}
.flying {
    background-color: @flying-lte;
}

.bg-normal {
    background-color: @normal;
}
.normal {
    background-color: @normal-lte;
}